[submodule "ObsidianRetriever"]
	path = ObsidianRetriever
	url = ../ObsidianRetriever.git
[submodule "obsidian-parser"]
	path = obsidian-parser
	url = ../obsidian-parser.git
[submodule "obsidian-rag-api"]
	path = obsidian-rag-api
	url = ../obsidian-rag-api.git
[submodule "obsidian_rag_tests"]
	path = obsidian_rag_tests
	url = ../obsidian_rag_tests.git
